In [2]:
import pandas as pd 
import numpy as np

In [18]:
df = pd.read_csv('data/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding="latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Q1. Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?

In [15]:
area_2017  = df.groupby('Area')['Y2017'].sum().sort_values()
area_2017.head(7)

#

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

### Q2. Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?

In [53]:
element_grp = df.groupby(['Element Code','Element'])[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
max_year = element_grp.idxmax(axis=1)

print(f" Year with highest sum of Stock Variation' for each element is {max_year}.")

 Year with highest sum of Stock Variation' for each element is Element Code  Element
511           Total Population - Both sexes             Y2018
645           Food supply quantity (kg/capita/yr)       Y2014
664           Food supply (kcal/capita/day)             Y2018
674           Protein supply quantity (g/capita/day)    Y2017
684           Fat supply quantity (g/capita/day)        Y2018
5072          Stock Variation                           Y2014
5123          Losses                                    Y2018
5131          Processing                                Y2018
5142          Food                                      Y2018
5154          Other uses (non-food)                     Y2017
5170          Residuals                                 Y2016
5171          Tourist consumption                       Y2014
5301          Domestic supply quantity                  Y2018
5511          Production                                Y2018
5521          Feed                                      Y2018
5527          Seed                                      Y2018
5611          Import Quantity                           Y2017
5911          Export Quantity                           Y2017
dtype: object.

### Q3. What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [67]:
# Lets first describe the shape of our data set and represent the total rows and columns.
# Making the rows represent sum of all data in 

df.shape

(60943, 12)

In [70]:

total_missing_values_df = df.isnull().sum() 
#print(total_missing_values_df)


missing_2014 = total_missing_values_df[7]
print("The total number of missing data is:", missing_2014)

percentage_2014 = (missing_2014 / 60943) * 100

print("The percentage is:", percentage_2014.round(3))

The total number of missing data is: 1589
The percentage is: 2.607

### Q4. If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [â€˜Ageâ€™,â€™Nationalityâ€™,â€™Overallâ€™]

How do you create a pandas DataFrame using this list, to look like the table below?

In [75]:

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

df2 = pd.DataFrame(lst, columns = col, index = [1,2,3])
df2

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Q5. Which year had the least correlation with â€˜Element Codeâ€™?

In [155]:


def calculate_correlation(df, column1, column2):
    correlation = (df[column1].corr(df[column2]).round(3))*100
    return print(f"Correlation with 'Element Code' for year {column2}", correlation)

In [156]:
# Calculate the percentage correlation between 'Element Code' and 'Y2014' to 'Y2018'

correlation_years = calculate_correlation(df, 'Element Code', 'Y2014')
correlation_years = calculate_correlation(df, 'Element Code', 'Y2015')
correlation_years = calculate_correlation(df, 'Element Code', 'Y2016')
correlation_years = calculate_correlation(df, 'Element Code', 'Y2017')
correlation_years = calculate_correlation(df, 'Element Code', 'Y2018')

Correlation with 'Element Code' for year Y2014 2.4
Correlation with 'Element Code' for year Y2015 2.4
Correlation with 'Element Code' for year Y2016 2.3
Correlation with 'Element Code' for year Y2017 2.4
Correlation with 'Element Code' for year Y2018 2.4

### Q6. What is the mean and standard ddeviation across the whole dataset for the year 2017 to 2 dp?

In [12]:
# Calculate mean 'Y2017' column in our dataset

mean_2017 = df['Y2017'].mean().round(2)

# Calculate standard deviation 'Y2017' column in our dataset

std_2017 = df['Y2017'].std().round(2)

print(f"The Mean : {mean_2017}")
      
print(f"The Standart Deviation: {std_2017}")

The Mean : 140.92
The Standart Deviation: 1671.86

### Q7. Perform a groupby operation on 'Element'. What is the total number of the sum of Processing in 2017?

In [13]:
df[['Element', 'Y2017']].head()

                                  Element     Y2017
0           Total Population - Both sexes  41389.00
1                Domestic supply quantity      0.00
2           Food supply (kcal/capita/day)   3341.00
3  Protein supply quantity (g/capita/day)     92.82
4      Fat supply quantity (g/capita/day)     80.19

In [55]:
element_processing = df.groupby(df['Element'] == 'Processing')
element_processing



total_processing_2017 = element_processing['Y2017'].sum()
total_processing_2017

Element
False    8082893.19
True      292836.00
Name: Y2017, dtype: float64

### Q8. Given the following numpy array :

array = ([[94, 89, 63], 
        [93, 92, 48],
         [92, 94, 56]])

How would you select the elements in bold and italics from the array?

In [11]:
# select 89, 63, 93, 48


array = np.array([[94, 89, 63],
        [93, 92, 48],
         [92, 94, 56]])

a = array[:2, 1:]
print("a. ", a)
b = array[:1, 1:]
print("b. ", b)
c = array[1:, :]
print("c." ,c)
d = array[:1, 1:]
print("d. ", d)

a.  [[89 63]
 [92 48]]
b.  [[89 63]]
c. [[93 92 48]
 [92 94 56]]
d.  [[89 63]]

### Q9. Which of the following is a python inbuilt module?
#### Answer: 
> ## Math

### Q10. Which of these python data structures is unorderly?

## Answer: 
> ## Set

### Q11. How would you check for the number of rows and columns in a pandas DataFrame named df?

## Answer: 
> ## 
## Answer: 
> ## df.shape

### Q12. What would be the output for?

> S = [['him', 'sell'], [90, 28, 43]]

>S[0][1][1]

In [12]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### Q13. Consider the following list of tuples:

>y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x

In [16]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][-1]
x

8

### Q14. What is the total number of unique countries in the dataset?

In [28]:
unique_countries = df['Area'].unique()
unique_countries.shape

(49,)

### Q15. Which of the follwoing dataframe methods can be used to access elements across rows and columns?

In [39]:
df.loc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Q16. Answer the following questions based on the African food production dataset provided by the FAO website already provided.
### What is the total sum of Wine produced in 2015 and 2018 respectively?
Hint: 
Perform a groupby sum aggregation on 'Item'

In [99]:
# First lets group by year 'Y2015' and 'Y2018'

# Subset the dataframe for summed Items for year 2015
df_2015 = df.groupby('Item')['Y2015'].sum()
# use 'loc' to search for 'Wine' in items
print("Total sum of Wine produced in 2018: ",df_2015.loc['Wine'])

# Subset the dataframe for summed Items for year 2018
df_2018 = df.groupby('Item')['Y2018'].sum()
# use 'loc' to search for 'Wine' in items
print("Total sum of Wine produced in 2018: ", df_2018.loc['Wine'])

Total sum of Wine produced in 2018:  4251.81
Total sum of Wine produced in 2018:  4039.32

Q17. Given the following python code, what would the output of the code give?

In [100]:

my_tuppy = (1, 2, 5, 8)

my_tuppy[2] = 6

#Type error

TypeError: 'tuple' object does not support item assignment

### Q18. What is the total Protein supply quantity in Madagascar in 2015?

In [113]:
mad_prot_supply_2015 = df.groupby([df['Area'] == 'Madagascar', df['Element'] == 'Protein supply quantity (g/capita/day)' ])['Y2015'].sum()
mad_prot_supply_2015

Area   Element
False  False      7894004.43
       True         11660.90
True   False       126501.85
       True           173.05
Name: Y2015, dtype: float64

### Q19. A pandas Dataframe with dimensions(100, 3) has how many features and observations?
> ### Answer: In a pandas DataFrame with dimensions (100, 3), there are 3 features (columns) and 100 observations (rows).

### Q20. Select columns 'Y2017' and 'Area', Perform a groupby operation on 'Area'. Which of these Areas had the highest sum in 2017

In [116]:
df_subset = df.groupby('Area')['Y2017'].sum().sort_values(ascending=False)
df_subset

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
CÃ´te d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64